.devcontainer/
backend/**/node_modules
client-side/**/node_modules
front-end/**/node_modules
full-stack/**/node_modules
practice/**/node_modules
sails-app/**/node_modules
backend/**/**/node_modules
client-side/**/**node_modules
front-end/**/**node_modules
full-stack/**/**node_modules
practice/**/**node_modules
sails-app/**/**node_module
**/.env
backend/.env
client-side/.env
front-end/.env
full-stack/.env
practice/.env
sails-app/.env
db.ts
index.html
front-end/battleship
sails-app
