.devcontainer/
backend/**/node_modules
client-side/**/node_modules
front-end/**/node_modules
full-stack/**/node_modules
practice/**/node_modules
sails-app/**/node_modules
db.ts
index.html
./front-end/battleship
./sails-app
