# Ignore node_modules directories up to 5 levels deep
/node_modules/.*
**/node_modules/.*
**/**/node_modules/.*
**/**/**/node_modules/.*
**/**/**/**/node_modules/.*
**/**/**/**/**/node_modules/.*
**/**/**/**/**/**.node_modules/.*
/node_modules/
**/node_modules/
**/**/node_modules/
**/**/**/node_modules/
**/**/**/**/node_modules/
**/**/**/**/**/node_modules/
**/**/**/**/**/**.node_modules/

# Ignore all .env files up to 5 levels deep
**/.env
**/**/.env
**/**/**/.env
**/**/**/**/.env
**/**/**/**/**/.envGIT

# Ignore all .md files up to 5 levels deep
**/*.md
**/**/**/*.md
**/**/**/**/*.md
**/**/**/**/**/*.md
**/**/**/**/**/**/*.md

./portfolio_2024/front-end/battleship/*
./portfolio_2024/front-end/battleship/** 