@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"]{
  color: black !important;
}

html {
  font-size: 16px !important; 
  line-height: 1.5;
  background-color: #f7f7f7;
  color: #333;
}

table.table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

table.table th, 
table.table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  max-width: 200px !important; /* Set max width for the cells */
  word-wrap: break-word; /* Ensure long words wrap to the next line */
  overflow-wrap: break-word; /* Also ensures text wrapping */
  white-space: normal; /* Allow text to wrap normally */
}

form input{
  color: black !important;
}

nav ul li a {
  color: white !important;
}