@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; 
  padding: 0; 
 
  width: 100vw;
  overflow: hidden;
}

.footer{
  position: fixed; 
  bottom: 0%;
  min-height: 50px;
  width: 100%;
  background-color: black; 
  color: white;
}

* {
  font-family: sans-serif; 
  text-decoration: none; 
}

nav{ 
  background-color: #333; 
  padding: 10px; 
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  height: 80px;
  border-bottom: rgb(199, 199, 199) solid 1px; 
}

.search, .searchbar{
  height: 50px; 
  display: flex; 
  box-sizing: border-box;
  justify-content: flex-start; 
  align-items: center; 
  background-color:rgb(248, 243, 243);
  border-bottom: rgb(199,199,199) solid 1px; 
}
 input.search{
  margin-left: 20px; 
  border: rgb(199, 199, 199) 1px solid; 
  border-radius: 5px; 
  width: 300px; 
  padding: 8px; 
  margin: 10px 5px;
}
.searchBtn{
  background-color: #1728eb;
  color: white;
  border: none;
  font-weight: bold; 
  padding: 8px;
  margin: 10px 5px;
}

main{
  display: flex; 

}

article{

width: 50vw;
height: 600px;
overflow-y: scroll !important;
padding: 20px;
line-height: 3;

}

article.listings{
  box-shadow: rgba(60, 64, 67, 0.3) -2px 0px 2px 0;
  padding: 20px; 
  width: 60%;
}

.card-container {

display: flex; 
flex-direction: column;
flex-wrap: wrap;
overflow-y: scroll !important;
  margin-top: 1rem !important;
  line-height: 1.5;
}

h1{
  margin-bottom: 5rem;
}

.card{
  max-height: 300px !important;
  font-size: 16px !important; 

}
 

html{
  font-size: 16px !important;
}


h1{
  font-size: 3rem;
}

h2{
  font-size: 2.5rem;
}

h3{
  font-size: 2rem;
}

.card{
  border: 1px solid black; 
  /*Making a box shadow of red*/
  box-shadow: 1px 1px 1px red;
  min-height: 300px !important;
}

/*Make a modal class that will be applied to a modal when it clicks above the image on the right side of the screen. Should be centered and about 75% width.*/
.modal{
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -40%);
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50% !important;
  width: 75%;
  padding: 20px;
  max-height: 60% !important;
  margin-bottom: 3rem;
  
}

.modal img{
  max-width: 100%;
  max-height: 30% !important;

}
.btnModal {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: 1px solid green; 
  cursor: pointer;
  transition-duration: 0.3s;
  position: absolute; 
  right: 20px;
  top: 20px;
}

img{
  max-height: 300px !important;
  min-width: 100%;
}

.searchCard {
  margin-bottom: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  font-size: 16px;
  line-height: 1.5; 
  padding: 10px;
  background-color:beige;
}

/*Media queries
/*Note- xs-375px
sm-640px
md-768px
lg-1024px
xl-1280px
2xl-1536px
3xl-1920px
4xl-2560px*/
@media screen and (min-width:500px) and (max-width:700px) {
  article:first-of-type{
  display: none;

  }

 article:nth-of-type(2){
  display: none;
 }
}

@media screen and (min-width:701px) and (max-width:900px) {
  article:first-of-type{
  display: none;

  }
  article:nth-of-type(2){
    min-height:fit-content !important;
    transform: translate(0rem, -6rem) !important
   }

  main{
    display: flex !important; 
    flex-direction: column;
   align-content:first baseline;
  }

  article.listings{
    width: 100%;
    margin: 0;
    padding: 10%;
  }

  .testing{
    transform: translate(-5%, 0%) !important; 
    width: 100% !important; 
  }
}

@media screen and (min-width:901px) and (max-width:1100px) {
  article:first-of-type{
    width: 100%;
max-height: 25rem !important;

  }

  article:nth-of-type(2){

    transform: translate(0rem, 3rem) !important;
    
   }

  main{
    display: flex !important; 
    flex-direction: column;
   align-content:first baseline;
  }

  article.listings{
    width: 100%;
    margin: 0;
    padding: 10%;
    overflow-y: auto !important;
    scroll-snap-type:initial;
    scroll-snap-align: start;
  }

  .testing{
    transform: translate(-5%, 0%) !important; 
    width: 100% !important; 
  }
}



@media screen and (min-width:1101px) and (max-width:1301px) {
  article:first-of-type{
    width: 100%;
    max-height: 29rem !important;


  }

article:nth-of-type(2){
  min-height: fit-content !important;
  transform: translate(0rem, -6rem) !important;
  
  max-height: fit-content !important;
  overflow-y: auto !important;
  scroll-snap-type:initial;
  scroll-snap-align: start;
}

  main{
    display: flex !important; 
    flex-direction: column;
   align-content:first baseline;
  }

  article.listings{
    width: 100%;
    margin: 0;
    padding: 10%;
    overflow-y: auto !important;
    scroll-snap-type:initial;
    scroll-snap-align: start;}

  .testing{
    transform: translate(-5%, 0%) !important; 
    width: 100% !important; 
    min-height: 100vh !important;
    transform: scaleY(4) !important;
  }
}